<!DOCTYPE html>
<html>
  <head>
    <title>New Facility Booking Request</title>
    <style>
      body {
        font-family: Arial, sans-serif;
        color: #4a4a4a;
        background-color: #f0f4f9;
        padding: 20px;
        margin: 0;
        text-align: center;
      }
      .email-container {
        max-width: 600px;
        margin: auto;
        background-color: #fff;
        padding: 20px;
        border-radius: 4px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05);
        border-top: 4px solid #ffa500;
      }
      a,
      a:visited {
        color: #ffa500;
        text-decoration: none;
      }
      a:hover,
      a:active {
        text-decoration: underline;
      }
      .header {
        color: #fff;
        background-color: #ffa500;
        padding: 10px;
        border-radius: 4px 4px 0 0;
        font-size: 24px;
        line-height: 28px;
      }
      .button {
        border: none;
        color: white !important;
        padding: 10px 20px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 20px 0;
        cursor: pointer;
        border-radius: 4px;
      }
      .confirm-button {
        background-color: #4caf50;
      }
      .reject-button {
        background-color: #f44336;
      }
      .footer {
        font-size: 12px;
        color: #909090;
        margin-top: 20px;
      }
    </style>
  </head>
  <body style="background-color: #f0f4f9">
    <br><br>
    <div class="email-container">
      <div class="header">New Facility Booking Request</div>
      <h4>Dear <%= firstname %>,</h4>
      <p>
        A new Facility booking request has been submitted. Please review the
        details below:
      </p>
      <table style="margin: auto; width: 90%; text-align: left">
        <tr>
          <td><strong>Requestor's Name:</strong></td>
          <td><%= requester_name %></td>
        </tr>
        <tr>
          <td><strong>Facility:</strong></td>
          <td><%= facility.category %> <%= facility.name %> </td>
        </tr>
        <tr>
          <td><strong>Location:</strong></td>
          <td><%= facility.location %></td>
        </tr>
        <tr>
          <td><strong>Start Period:</strong></td>
          <td><%= startPeriod %></td>
        </tr>
        <tr>
          <td><strong>End Period:</strong></td>
          <td><%= endPeriod %></td>
        </tr>
      </table>
      <p>
        <a
          href="https://facilities-allocation-frontend.vercel.app/confirm?token=<%= approvalToken %>"
          class="button confirm-button"
          >Confirm Booking</a
        >
        <a
          href="https://facilities-allocation-frontend.vercel.app/reject?token=<%= approvalToken %>"
          class="button reject-button"
          >Reject Booking</a
        >
      </p>
      <p>
        For additional information or if you have questions, please reach out to
        <%= requester_email %> or reply to this email.
      </p>
      <p>Thank you for addressing this booking request promptly.</p>
      <p>Warm regards,<br />UR Digitalization Services</p>
      <div class="footer">
        This is an automated message, please do not reply directly. <br />
        For further assistance, reply to this email or reach out to the
        requestor.
      </div>
    </div>
  </body>
</html>
